@import "../shared_styles/colors.scss";

.btn {
  border: 1px solid $green;
  background-color: $white;
  border-radius: 25px;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.1s;
  color: $green;

  &.cancel {
    border-color: $red;
    color: $red;
  }

  &:hover {
    border-width: 2px;
  }

  &:active {
    border-width: 3px;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.progress-bar-container {
  height: 6px;
  margin-top: 10px;
  position: relative;
  border-radius: 35px;
  overflow: hidden;

  .progress-bar-child {
    width: 100%;
    height: 100%;
  }

  .progress {
    color: $white;
    animation-direction: reverse;
    background: $sunset;
    background: linear-gradient(to right, $sunset 0%, $sunrise 45%, $red 100%);
  }

  .shrinker {
    background-color: $gray;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  .timelapse {
    animation-name: timelapse;
    animation-fill-mode: forwards;
    animation-duration: var(--seconds, 5s);
    // animation-timing-function: cubic-bezier(0.86, 0.05, 0.4, 0.96);
    // animation-timing-function: cubic-bezier(0.1, 0.1, 0.1, 0.1); //TODO: For setting up the array breakpoints
  }

  @keyframes timelapse {
    0% {
      width: var(--minWidth, 100%);
    }
    100% {
      width: var(--maxWidth, 10%);
    }
  }
}
